{% extends 'base.html.twig' %}

{% block title %}Livraria{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Livros</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a href="{{ path('app_relatorio_csv') }}" type="button" class="btn btn-sm btn-outline-secondary">Exportar</a>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th scope="col">Livro</th>
                <th scope="col">Autor</th>
                <th scope="col">Assunto</th>
                <th scope="col">Editora</th>
                <th scope="col">Ano</th>
            </tr>
            </thead>
            <tbody>
            {% for livro in pagination %}
            <tr>
                <td>{{ livro.titulo }}</td>
                <td>{{ livro.nome }}</td>
                <td>{{ livro.descricao }}</td>
                <td>{{ livro.editora }} </td>
                <td>{{ livro.ano_publicacao }}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
